@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");
body {
  font-family: "Poppins";
  color: hsla(0, 0%, 0%, 0.671);
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  background: rgb(235, 230, 230);
  overflow-x: hidden;
}

html {
  cursor: auto !important;
}

h2 {
  font-size: 2em;
  margin: 0.67em 0;
  padding: 0;
  color: inherit;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

a:focus {
  border: 1px solid black;
}

/* INTRO */

.intro {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Intro background */

.intro-background-layer {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0;
  transform-origin: 0;
  overflow: hidden;
  display: inline-block;
}

.background-image {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  transform-origin: 0;
  background: linear-gradient(
    150deg,
    rgb(62, 46, 143) 15%,
    #4947ce 80%,
    #5957cc 90%
  );
}

.intro-background-tiles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  transform-origin: 0;
  overflow: hidden;
}

.intro-background-tiles > div {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  left: 0;
  padding: 0;
  margin: 0;
  bottom: 0;
}

.back-row {
  width: auto;
  height: 100%;
  top: auto;
  top: 15%;
}

.front-row {
  top: 10%;
  display: block;
  height: 80%;
}

.tile {
  display: block;
  height: 100%;
  width: 100%;
}

.front-row > .tile {
  background: #27136e;
}

.back-row > .tile {
  background: #473ca8;
}

/* Intro text */

.intro-centered-title {
  position: absolute;
  top: 20%;
  margin-left: 10%;
  margin-right: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
}

.intro-title-main {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: white;
  font-weight: 600;
  line-height: 1;
}

.intro-title-desc {
  margin-top: 0.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fec21e;
  line-height: 1.2;
}

/* PORTFOLIO */

.portfolio-section {
  margin: 5%;
}

.portfolio-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.portfolio-item {
  cursor: pointer;
  background: white;
  border-radius: 20px;
  height: max-content;
  overflow: hidden;
  width: 350px;
  margin: 20px;
  z-index: 1;
  transform: translateY(0px);
  text-decoration: none;
  transition: all 0.2s ease;
}

/* For when individual item is focused/hovered */
.portfolio-item:hover,
.portfolio-item:focus {
  transform: translateY(-5px);
  box-shadow: 5px 10px 10px rgba(93, 93, 93, 0.1);
}
.portfolio-item:focus {
  outline: none;
  border: none;
}

.image-container {
  position: relative;
}

.image-container > img {
  overflow: hidden;
  max-width: 100%;
}
.portfolio-description {
  padding: 6px;
}

.portfolio-description > p {
  margin: 0;
  padding: 0;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: hsla(0, 0%, 0%, 0.671);
  text-align: center;
}

/* CONTACT  */

.contact-me {
  height: 300px;
  position: relative;
  bottom: 0px;
  margin-top: -50px;
}

.background-container {
  position: absolute;
  overflow-x: visible;
  overflow-y: hidden;
  top: -200px;
  width: 100vw;
  height: 600px;
  z-index: 0;
  overflow-x: visible;
}

.second-image {
  position: absolute;
  top: 300px;
  height: 800px;
  transform: skewY(-10deg);
}

.contact-content {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 125px;
}

.contact-title {
  position: relative;
  margin-left: 50px;
}

.contact-title h2 {
  color: rgb(235, 230, 230);
}

.contact-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-list > li {
  margin: 0 15px;
  color: rgb(235, 230, 230);
  width: 75px;
  height: 75px;
}

.contact-list > li > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* MODAL */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 5;
  opacity: 1;
}

.modal-background {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  background: rgba(77, 75, 83, 0.5);
}

.modal {
  z-index: 10;
  position: fixed;
  background-color: white;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.modal-header,
.modal-body {
  margin: 10px 20px;
}

.modal-body {
  max-height: 80%;
  margin: 0px 25px;
  overflow: auto;
  padding: 5px 0;
}

.modal-body > h3 {
  display: block;
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.modal-body > p {
  margin: 3px 0;
}

.modal-header {
  min-height: 10%;
  display: flex;
  border-bottom: 2px solid rgb(235, 230, 230);
}

.modal-title {
  margin: 0;
}

.modal-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: auto 0;
}

.modal-x-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-x {
  height: 20px;
  width: 20px;
  background-color: black;
  -webkit-mask: url(../images/icons8_delete.svg) no-repeat center;
  mask: url(../images/icons8_delete.svg) no-repeat center;
  cursor: pointer;
}

/* Carousel within modal */

.carousel {
  height: 100%;
}

.carousel-buttons > .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.carousel-container {
  position: relative;
}

.gallery-image-container {
  height: 50vh;
  overflow: hidden;
}
.slide,
.carousel {
  background: transparent !important;
}

.gallery-image {
  height: 100%;
  object-fit: scale-down;
  background-color: white;
}

/* Modal buttons */

.btn {
  border-radius: 50px;
  background: #4947ce;
  border: 2px solid #4947ce;
  color: white;
  text-align: center;
  width: auto;
  padding: 0.3em 1.3em;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background: rgba(255, 255, 255, 0);
  color: #4947ce;
}

.btn-indicator {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 50%;
}

.btn-indicator:hover {
  background-color: #4e4cda;
}

.btn-indicator > svg {
  color: white;
}

.btn-previous {
  left: 0;
  margin-left: 20px;
}

.btn-next {
  right: 0;
  margin-right: 20px;
}

.btn-visit-project {
  margin-right: 30px;
  text-decoration: none;
}

/* Modal scrollbar */
.modal-body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #dfdfdf;
}

.modal-body::-webkit-scrollbar {
  width: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(128, 128, 128);
}

.techstack-icon {
  height: 40px;
  margin: 0 10px;
}

.techstack-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  transition: opacity 0.2s ease;
}

/* Techstack used within cards */

.techstack-item {
  height: 40px;
  width: 40px;
  color: white;
  opacity: 0.5;
  margin: 10px;
}

.techstack-item > p {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  margin-left: -100%;
  margin-right: -100%;
}

.techstack-title {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.16rem;
  color: white;
  opacity: 0.9;
  margin: 0;
}

.techstack-icon-list {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .contact-title {
    margin-left: 0px;
    text-align: center;
  }
  .intro-title-main {
    font-size: 2.8rem;
  }

  .intro-title-desc {
    font-size: 1.5rem;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .modal-title {
    font-size: 1.8em;
  }
}

@media (min-width: 430px) and (max-width: 510px) {
  .intro-title-main {
    font-size: 2.3rem;
  }

  .modal-title {
    font-size: 1.7em;
  }
}

@media (max-width: 430px) {
  .modal-container {
    margin: auto 0;
    width: 100%;
  }
  .modal-body,
  .modal-header {
    margin-left: 15px;
    margin-right: 15px;
  }

  .centered-title {
    margin-top: -50px;
  }

  .intro-title-main {
    font-size: 1.7rem;
  }
  .intro-title-desc {
    font-size: 1.2rem;
  }
}

@media (orientation: portrait) {
  .intro {
    height: 75vh;
  }
  .intro-background {
    transform: skewY(-10deg);
  }
}

.portfolio-item:focus > .image-container > .techstack-container,
.portfolio-item:hover > .image-container > .techstack-container {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  transition: opacity 0.2s ease, background-color 0.2s ease;
}

.techstack-container {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: opacity 0.2s ease, background-color 0.2s ease;
}
