@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
body {
  font-family: "Poppins";
  color: hsla(0, 0%, 0%, 0.671);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  background: rgb(235, 230, 230);
}

html {
  cursor: auto !important;
}

h2 {
  font-size: 2em;
  margin: 0.67em 0;
  padding: 0;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

a:focus {
  border: 1px solid black;
}

/* INTRO */

.intro {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.intro-background {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0;
  transform-origin: 0;
  overflow: hidden;
  display: inline-block;
}

.background-image {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  transform-origin: 0;
  background: linear-gradient(
    150deg,
    rgb(62, 46, 143) 15%,
    #4947ce 80%,
    #5957cc 90%
  );
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  transform-origin: 0;
  overflow: hidden;
}

.hero-background > div {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
}

.background-block {
  width: 100%;
  position: relative;
  margin-left: 0px;
  border-radius: 0;
  border-style: hidden;
  display: inline-block;
}

.back-row {
  left: 0;
  padding: 0;
  margin: 0;
  width: auto;
  height: 100%;
  bottom: 0;
  top: auto;
}

.back-row > span {
  height: 100%;
  width: 100%;
}

.front-row {
  top: 10%;
  display: block;
  height: 80%;
}

.front-row > span {
  height: 100%;
  width: 110%;
  background: #27136e;
}

.back-row > span {
  background: #3d2b7d56;
}
.centered-title {
  position: absolute;
  top: 0;
  max-height: 500px;
  margin-left: 10%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.title-main {
  font-size: 4rem;
  margin: 0.67em 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  color: white;
  font-weight: 700;
}

.title-desc {
  font-size: 1.8rem;
  font-weight: 300;
  color: #fec21e;
}

.portfolio-section {
  min-height: 100vh;
  margin: 5%;
  overflow: hidden;
}

h2 {
  color: hsla(0, 0%, 0%, 0.671);
}

.portfolio-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 0 0 50%;
}

.portfolio-item {
  cursor: pointer;
  background: white;
  text-align: center;
  border-radius: 20px;
  height: max-content;
  overflow: hidden;
  width: 350px;
  margin: 20px;
  -webkit-transition: all 0.2s ease; /* Safari prior 6.1 */
  transition: all 0.2s ease;
  z-index: 1;
  transform: translateY(0px);
  text-decoration: none;
}

.portfolio-item:focus {
  border-radius: 20px;
  outline: none;
  border: none;
}

.portfolio-container {
  height: max-content;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  -webkit-transition: all 0.2s ease; /* Safari prior 6.1 */
  transition: all 0.2s ease;
}

.portfolio-layout {
  position: relative;
  width: 100%;
  height: max-content;
}

.item-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  box-shadow: 5px 10px 10px rgba(93, 93, 93, 0.1);
  -webkit-transition: all 0.2s ease; /* Safari prior 6.1 */
  transition: all 0.2s ease;
}

.portfolio-item:hover,
.portfolio-item:focus {
  transform: translateY(-5px);
  box-shadow: 5px 10px 10px rgba(93, 93, 93, 0.1);
}

.portfolio-shadow-hover-true {
  opacity: 1;
}

.portfolio-shadow-hover-false {
  opacity: 0;
}

.image-container {
  position: relative;
}

.image-container > img {
  overflow: hidden;
  max-width: 100%;
}
.portfolio-description {
  padding: 6px 0;
}

.portfolio-description > p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: hsla(0, 0%, 0%, 0.671);
}

.contact-me {
  height: 30vh;
  position: relative;
  top: -100px;
}

.background-container {
  position: absolute;
  overflow-x: visible;
  overflow-y: hidden;
  top: -200px;
  width: 100%;
  height: 300%;
  z-index: -10;
}

.second-image {
  position: absolute;

  top: 300px;
  transform: skewY(-10deg);
}

.contact-content {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 125px;
}

.contact-title {
  position: relative;

  margin-left: 50px;
}

.contact-title h2 {
  color: rgb(235, 230, 230);
}

.contact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.contact-list > li {
  display: inline-block;
  margin: 0 15px;
  color: rgb(235, 230, 230);
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.contact-list > li > a {
  display: inline-block;
  width: 75px;
  height: 75px;
  overflow: hidden;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 1;
  overflow: hidden;
}

.modal-background {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  background: rgba(77, 75, 83, 0.5);
}

.modal {
  position: fixed;
  /* width: 80%;
  height: 80%; */
  z-index: 2;
  background-color: white;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
}

.modal-header,
.modal-body {
  margin: 10px 20px;
}

.modal-body {
  overflow: auto;
  max-height: 80%;
}

.modal-body > p {
  margin: 8px 0;
}

.modal-header {
  min-height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid rgb(235, 230, 230);
}

.modal-title {
  display: inline-block;
  margin: 0;
  padding-top: auto;
}

.modal-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: auto 0;
}

.modal-x-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.modal-x {
  overflow: hidden;
  height: 20px;
  width: 20px;
  background-color: black;
  -webkit-mask: url(../images/icons8_delete.svg) no-repeat center;
  mask: url(../images/icons8_delete.svg) no-repeat center;
  cursor: pointer;
}

.modal-body {
  margin: 0px 25px;
  overflow: auto;
  padding-right: 5px;
  padding-left: 5px;
}

.modal-hidden-true {
  display: none;
}

.modal-hidden-false {
  opacity: 1;
}

.modal-body h3 {
  display: block;
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

ul {
  margin-top: 0;
  padding-top: 0;
}

.junglegames-image {
  width: 400px;
}

.carousel {
  height: 100%;
}

.carousel-buttons > .btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
}

.carousel-container {
  position: relative;
  display: block;
}

.btn {
  border-radius: 50px;
  background: #4947ce;
  border: none;
  color: white;
}
.btn {
  text-align: center;
  width: auto;
  border-radius: 50px;
  padding: 0.3em 1.3em;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background: #4947ce;
  color: #fff;
  border: 2px solid #4947ce;
  cursor: pointer;
}

.btn:hover {
  background: rgba(255, 255, 255, 0);
  color: #4947ce;
}

.btn-indicator {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  border: none;
}

.btn-indicator:hover {
  background-color: #4e4cda;
}
.btn-indicator > svg {
  color: white;
}

.btn-previous {
  left: 0;
  margin-left: 20px;
}

.btn-next {
  right: 0;
  margin-right: 20px;
}

.btn-visit-project {
  position: relative;
  display: inline-block;
  margin: auto;
  height: fit-content;
  margin-right: 30px;
  text-decoration: none;
}

.gallery-image-container {
  height: 50vh;
  overflow: hidden;
}
.slide,
.carousel {
  background: transparent !important;
}

.gallery-image {
  height: 100%;
  object-fit: scale-down;
  background-color: white;
}

.modal-body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #dfdfdf;
}

.modal-body::-webkit-scrollbar {
  width: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(128, 128, 128);
}

.techstack-icon {
  height: 40px;
  margin: 0 10px;
}

.techstack-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  transition: opacity 0.2s ease;
}

.techstack-item {
  height: 40px;
  width: 40px;
  color: white;
  opacity: 0.5;
  margin: 10px;
}

.techstack-item > p {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  white-space: nowrap;
  text-align: center;
  margin-left: -100%;
  margin-right: -100%;
  font-weight: 600;
}

.techstack-title {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 200;
}

.techstack-icon-list {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.techstack-builtwith {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.16rem;
  color: white;
  opacity: 0.9;
  margin: 0;
}

@media (max-width: 900px) {
  .contact-title {
    margin-left: 0px;
    text-align: center;
  }
  .title-main {
    font-size: 3rem;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .modal-title {
    font-size: 1.8em;
  }
}

@media (min-width: 450px) and (max-width: 500px) {
  .title-name {
    font-size: 4rem;
  }

  .modal-title {
    font-size: 1.7em;
  }
}

@media only screen and (max-width: 450px) {
  .modal {
    margin: auto 0;
    width: 100%;
  }
  .modal-body,
  .modal-header {
    margin-left: 15px;
    margin-right: 15px;
  }

  .centered-title {
    margin-top: -50px;
  }

  .title-name {
    font-size: 3rem;
  }
  .modal-title {
    font-size: 1.5em;
  }
}

.portfolio-item:focus > .image-container > .techstack-container,
.portfolio-item:hover > .image-container > .techstack-container {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  transition: opacity 0.2s ease, background-color 0.2s ease;
}

.techstack-container {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: opacity 0.2s ease, background-color 0.2s ease;
}
